<head>
    <link rel="stylesheet" href="../../public/css/cards.css">
</head>
<section>
    <nav class="topnav">
        <a href="/">Home</a>
        <a href="/customers/private">Profile</a>
        <a class="active" href="/customers/reservations">Reservations Made</a>
        <a href="/reviews">Reviews</a>
    </nav>
</section>

<section>
<div class="content">
    <section>
    {{#each reservations}}
    <div class="card">
        <div class="container">
            <h4>Restaurant</h4>
             <textarea rows="1" readonly>{{this.name}} </textarea> 
            <h4>Address</h4>
            <textarea rows="2" readonly>{{this.address}} </textarea> 
            <h4>Number of People</h4>
            <textarea rows="1" readonly>{{this.no_of_guests}} </textarea> 
            <h4>Date</h4>
            <input type="date" value={{this.reservationDate}} readonly />
            <h4>Time</h4>
            <input type="time" value= {{this.reservationTime}} readonly />
        </div>
    </div>
    {{/each}}
    </section>
</div>
</section>