<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/css/cards.css">
</head>
<section>
    <nav class="topnav">
        <a href="/">Home</a>
        <a href="/customers/private">Profile</a>
        <a class="active" href="/customers/reservations">Reservations Made</a>
        <a href="/reviews">Reviews</a>
    </nav>
</section>

<section>
<div class="content">
    <section>
    {{#unless restaurants.length}}
    <h3>No reservations have been made.</h3>
    {{/unless}}
    {{#each reservations}}
    <div class="card">
        <div class="container" id="{{this.id}}">
            <h4>Restaurant</h4>
             <textarea rows="1" readonly>{{this.name}} </textarea> 
            <h4>Address</h4>
            <textarea rows="2" readonly>{{this.address}} </textarea> 
            <h4>Number of People</h4>
            <textarea rows="1" readonly>{{this.no_of_guests}} </textarea> 
            <h4>Date</h4>
            <input type="date" value={{this.reservationDate}} readonly />
            <h4>Time</h4>
            <input type="time" value= {{this.reservationTime}} readonly />
            <a href="/customers/resdelete/{{this.id}}"><p><button class="btn" ><i class="fa fa-trash" ></i></button></p></a>
        </div>
    </div>
    {{/each}}
    </section>
    {{#if hasError}}
    {{#each errors}}
    <ul>
        <li class="error">
            {{this}}
        </li>
    </ul>
    {{/each}}
    {{/if}}
</div>
</section>