<head>
    <link rel="stylesheet" href="../../public/css/cards.css">
</head>
<section>
    <nav class="topnav">
        <a href="/">Home</a>
        <a href="/restaurants/private">Profile</a>
        <a class="active" href="/reservations">Reservations Made</a>
        <a href="/reviews/restaurant/{{reviewLink}}">Reviews</a>
    </nav>
</section>

<section>
<div class="content">
    <section>
    {{#each reservations}}
    <div class="card">
        <div class="container">
            <h2>{{this.fullName}}</h2>
            <h4>Table for {{this.no_of_guests}}</h4>
            <h5>Date:<input type="date" value={{this.reservationDate}} readonly /></a></h5>
            <h5>Time:<input type="time" value={{this.reservationTime}} readonly /></a></h5>
        </div>
    </div>
    {{/each}}
    </section>
</div>
</section>