<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<section>
    <nav class="topnav">
        <a href="/customers/private">Profile</a>
        <a href="/reservations">Book a Table</a>
        <a href="/customers/reservations">Reservations Made</a>
        <a class="active" href="/reviews/restaurant/{{restaurant._id}}">Review</a>
    </nav>
</section>

<div class="container col-6">
    <div class="container col-6">
        <a href="/restaurants/{{restaurants._id}}" >
            <h1>{{restaurants.name}}</h1>
        </a>
    </div>
    <form method="POST" action="/customer/{{customer._id}}" id="review-form" novalidate>
            <div class="container">
                <div class="col form-group">
                    <label for="rating">Rating</label>
                    <input type="number" class="form-control" id="rating" name="rating" placeholder="Give rating">
                </div>
                <div class="col form-group">
                    <label for="review">Write review</label>
                    <input type="text" class="form-control" id="review" name="review" placeholder="write review">
                </div>
                <div id="review">
                    <button type="submit" class="btn" name="submitButton" id="submitButton">Write Review</button>
                </div>
            </div>
            {{#each errors}}
                <div class = "error">{{this}}</div>
            {{/each}}
    </form>
</div>